.idea
.vscode
.zed
.history
upload
*.exe
*.db
build
*.db-journal
*.sh
logs
web/default/dist
web/classic/dist
web/node_modules
web/dist
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
plans
.claude
.cursor
docs/RR

electron/node_modules
electron/dist
data/
.gomodcache/
.gocache-temp
.gopath
.test
token_estimator_test.go
skills-lock.json
.playwright-mcp
test-ad-video-generation.sh
test-gemini-image.sh
test-gpt-image-edit.sh
test-gpt-image-text2img.sh
test-seedance-1.sh
docs/咪咕/API.zh-CN.md
docs/咪咕/ARK-VIDEO-API.zh-CN.md
docs/咪咕/DIGITAL-AVATAR-DEMO.zh-CN.md
docs/咪咕/FACE-ASSET-DEMO.zh-CN.md
docs/咪咕/seedance-asset-api.md
docs/咪咕/seedance-asset-design.md
docs/咪咕/seedance-asset-simple.md
docs/咪咕/中教.md
